<div class="item margin-bottom-small"> <!-- ITEM START -->
  <p>"...<%= client.comment %>..."</p>
  <div class="client margin-top-medium clearfix">

    <img src="<%= image %>" alt="Client Image">
    <ul class="client-info main-color">
      <li><strong><%= link_to client.name, client.url %></strong></li>
      <li><%= client.occupation %></li>

    </ul>
  </div>
</div> <!-- ITEM END -->